<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppRepublic"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name="br.edu.ifsp.tcc.apprepublic.view.ContactUser"
            android:exported="false" />
        <activity
            android:name="br.edu.ifsp.tcc.apprepublic.view.UserInfo"
            android:exported="false" />
        <activity
            android:name="br.edu.ifsp.tcc.apprepublic.view.PropSolicites"
            android:exported="false" />
        <activity
            android:name="br.edu.ifsp.tcc.apprepublic.view.UserSolicites"
            android:exported="false" />
        <activity
            android:name="br.edu.ifsp.tcc.apprepublic.view.UpdatePassword"
            android:exported="false" />
        <activity
            android:name="br.edu.ifsp.tcc.apprepublic.view.EditResidence"
            android:exported="false" />
        <activity
            android:name="br.edu.ifsp.tcc.apprepublic.view.EditUser"
            android:exported="false" />
        <activity
            android:name="br.edu.ifsp.tcc.apprepublic.view.ContactProp"
            android:exported="false" />
        <activity
            android:name="br.edu.ifsp.tcc.apprepublic.view.InfoResidences"
            android:exported="false" />
        <activity
            android:name="br.edu.ifsp.tcc.apprepublic.view.HomePage"
            android:exported="false" />
        <activity
            android:name="br.edu.ifsp.tcc.apprepublic.view.ListResidences"
            android:exported="false" />
        <activity
            android:name="br.edu.ifsp.tcc.apprepublic.view.RegisterResidence"
            android:exported="false" />
        <activity
            android:name="br.edu.ifsp.tcc.apprepublic.view.RegisterUser"
            android:exported="false" />
        <activity
            android:name="br.edu.ifsp.tcc.apprepublic.view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>